/* Layout */

$Mobile: 375px;
$Desktop: 1440px;

/* Colors */

// Primary

$Very-Dark-Blue: hsl(243, 87%, 12%);
$Desaturated-Blue: hsl(238, 22%, 44%);

// Accent

$Bright-Blue: hsl(224, 93%, 58%);
$Moderate-Cyan: hsl(170, 45%, 43%);

// Neutral

$Light-Grayish-Blue: hsl(240, 75%, 98%);
$Light-Gray: hsl(0, 0%, 75%);

// Typography

// Headings, Call-to-actions, Header Navigation

$Family-Heading: "Raleway", sans-serif;
$Weights-Heading-400: 400;
$Weights-Heading-700: 700;

// Body

$Family-Body: "Open Sans", sans-serif;
$Weights-Body-400: 400;
